[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
psycopg2-binary = "==2.8.6"
aws-psycopg2 = "==1.2.1"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
