[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {version="*", index="pypi"}
requests = {version="*", index="pypi"}
pandas = {version="*", index="pypi"}
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
